@import '../../scss/vars.scss';
@import '../../scss/mixins';

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 35px 12px 40px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 350px;
  }
}

.root {
  align-items: center;
  display: flex;
  position: relative;
}

.icon {
  height: 30px;
  width: 48px;
  opacity: 0.6;
  position: absolute;
  left: 0;
}

.clear {
  width: 20px;
  height: 20px;
  position: absolute;
  opacity: 0.3;
  right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.8;
    width: 22px;
    height: 22px;
  }
}
